main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  place-items: center;
}

h1 {
  font-size: calc(5px + 2vmax);
  transition: .3s;
  margin-top: 25px;
}

.certs_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(225px + 10vmax));
  width: 100%;
  max-width: 100vh;
  justify-content: center;
  justify-items: center;
  column-gap: calc(2px + 1vmax);
  row-gap: calc(2px + 1vmax);
  margin: 0 auto;
  transition: .1s;
  margin-top: 20px;
  margin-bottom: 20px;
}
